google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
pytz==2024.1
streamlit==1.35.0
toml==0.10.2
